<div class="blank">
    <h2>Category-List</h2>

    <div class="container">
        <div style="padding-bottom: 10px;" class="a">
            <a class="btn btn-success ml-auto" href="/admin/addCategory">Add-Category</a>
        </div>
        <table class="table mt-5" id="myTable">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <% let no=1 %>
                    <% categories.forEach((category)=>{%>
                        <tr>
                            <th>
                                <%= no++ %>
                            </th>
                            <td>
                                    <%= category.name %>
                            </td>
                            <td>
                                <%= category.description %>
                            </td>
                        </tr>
                        <%})%>
            </tbody>
        </table>
    </div>
</div>