


<!--slider menu-->
<div class="sidebar-menu">
    <div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span
                id="logo"></span>
            <!-- <img id="logo" src="/images/logo/logo-1.png" alt="Logo"/> -->
        </a> </div>
    <div class="menu">
        <ul id="menu">
            <li id="menu-home"><a href="/admin"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
            

            <li><a href="charts.html"><i class="fa fa-bar-chart"></i><span>Charts</span></a></li>
            
            <li><a href="/admin/viewProduct"><i class="fa fa-shopping-cart"></i><span>Products</span></span></a></li>
               
            <li><a href="/admin/viewUsers"><i style="color: white;" class="glyphicon glyphicon-th-list"></i><span>Customers</span></li>

            <li><a href="/admin/viewOrders"><i style="color: white;" class="glyphicon glyphicon-list-alt"></i><span>Order List</span></li>

            <li><a href="/admin/viewCoupons"><i style="color: white;" class="glyphicon glyphicon-th-large"></i><span>Coupon List</span></li>
            
        </ul>
    </div>
</div>
<div class="clearfix"> </div>